In [2]:
# !jt -t monokai -T -N -kl

# –£—Å—Ç–∞–Ω–æ–≤–∫–∞ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã—Ö –±–∏–±–ª–∏–æ—Ç–µ–∫

In [3]:
# !pip install scikit-learn
# !pip install gensim
# !pip install nltk

# –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫

In [4]:


import os
import numpy as np
import pandas as pd
import seaborn as sns
import re
import nltk

nltk.download('stopwords')
nltk.download('punkt')
from nltk import word_tokenize



# from sklearn.svm import LinearSVC
# from sklearn.naive_bayes import BernoulliNB
# from sklearn.linear_model import LogisticRegression

# from sklearn.model_selection import train_test_split
# from sklearn.feature_extraction.text import Tfidata_randomVectorizer
# from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.utils import to_categorical
from tensorflow.keras import regularizers


import gensim
from gensim.models import Word2Vec
from gensim.test.utils import common_texts
from gensim.models import Word2Vec
from gensim.test.utils import get_tmpfile
from gensim.models import KeyedVectors
from gensim.test.utils import datapath


import joblib

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\anana\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\anana\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [5]:
!pip install neattext

Requirement already satisfied: neattext in c:\users\anana\anaconda3\lib\site-packages (0.1.3)

In [6]:
import pandas as pd
import numpy as np 
from tabulate import tabulate
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn import metrics
import nltk
import re
import string
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, recall_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn import metrics
nltk.download('vader_lexicon')
import neattext.functions as nfx
import warnings
warnings.filterwarnings('ignore')

from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\anana\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

# –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [7]:

data_random=pd.read_csv('C:/projects/VKR_Mamedova/datasets/training.csv',encoding='ISO-8859-1',header=None)
data_depressive= pd.read_csv('C:/projects/VKR_Mamedova/datasets/Suicide_Detection.csv')

# word2vec = KeyedVectors.load_word2vec_format(EMBEDDING_FILE, binary=True)

# def load_google_vec(self):
#     #url = 'https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz'
#     #wget.download(url, 'Data/GoogleNews-vectors.bin.gz')
#     return KeyedVectors.load_word2vec_format(
#         'Data/GoogleNews-vectors.bin.gz',
#         binary=True)


# # Download link
# # https://drive.google.com/file/d/0B7XkCwpI5KDYNlNUTTlSS21pQmM/view?resourcekey=0-wjGZdNAUop6WykTtMip30g
# word2vec_path = 'GoogleNews-vectors-negative300.bin.gz'

In [8]:
data_random

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [9]:
data_depressive

,Unnamed: 0,text,class
0,2,Ex Wife Threatening SuicideRecently I left my ...,suicide
1,3,Am I weird I don't get affected by compliments...,non-suicide
2,4,Finally 2020 is almost over... So I can never ...,non-suicide
3,8,i need helpjust help me im crying so hard,suicide
4,9,"I‚Äôm so lostHello, my name is Adam (16) and I‚Äôv...",suicide
...,...,...,...
232069,348103,If you don't like rock then your not going to ...,non-suicide
232070,348106,You how you can tell i have so many friends an...,non-suicide
232071,348107,pee probably tastes like salty teaüòèüí¶‚ÄºÔ∏è can som...,non-suicide
232072,348108,The usual stuff you find hereI'm not posting t...,suicide
232073,348110,I still haven't beaten the first boss in Hollo...,non-suicide

In [10]:
# –£–¥–∞–ª–∏–º –ø–µ—Ä–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü
data_depressive = data_depressive.drop('Unnamed: 0',axis=1)

In [11]:
data_depressive

                                                     text        class
0       Ex Wife Threatening SuicideRecently I left my ...      suicide
1       Am I weird I don't get affected by compliments...  non-suicide
2       Finally 2020 is almost over... So I can never ...  non-suicide
3               i need helpjust help me im crying so hard      suicide
4       I‚Äôm so lostHello, my name is Adam (16) and I‚Äôv...      suicide
...                                                   ...          ...
232069  If you don't like rock then your not going to ...  non-suicide
232070  You how you can tell i have so many friends an...  non-suicide
232071  pee probably tastes like salty teaüòèüí¶‚ÄºÔ∏è can som...  non-suicide
232072  The usual stuff you find hereI'm not posting t...      suicide
232073  I still haven't beaten the first boss in Hollo...  non-suicide

[232074 rows x 2 columns]

In [12]:
X = data_depressive.drop('class', axis=1)
y = data_depressive['class']

In [13]:
columns=data_random.columns

In [14]:
data_random.drop([1,2,3],axis=1,inplace=True)

In [15]:
data_random.columns=['Label','Username','Text']

# –û—á–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [16]:
def clean_tweet(tweet):
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\d+)|(\w+:\/\/\S+)", " ", tweet).split())

In [17]:
data_random['Text'] = data_random['Text'].apply(clean_tweet)
data_random

,Label,Username,Text
0,0,_TheSpecialOne_,Awww that s a bummer You shoulda got David Car...
1,0,scotthamilton,is upset that he can t update his Facebook by ...
2,0,mattycus,I dived many times for the ball Managed to sav...
3,0,ElleCTF,my whole body feels itchy and like its on fire
4,0,Karoli,no it s not behaving at all i m mad why am i h...
...,...,...,...
1599995,4,AmandaMarie1028,Just woke up Having no school is the best feel...
1599996,4,TheWDBoards,TheWDB com Very cool to hear old Walt interviews
1599997,4,bpbabe,Are you ready for your MoJo Makeover Ask me fo...
1599998,4,tinydiamondz,Happy th Birthday to my boo of alll time Tupac...
1599999,4,RyanTrevMorris,happy charitytuesday

# –ü—Ä–µ–æ–±—Ä–∞–±–æ—Ç–∫–∞ —Ç–µ–∫—Å—Ç–∞

# –ü—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–∞—è –æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [18]:
# –ø–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –∫ –ø—Ä–æ—Ü–µ—Å—Å—É —É–¥–∞–ª–µ–Ω–∏—è —Å—Ç–æ–ø —Å–ª–æ–≤ –∏ –ª–µ–º–∞—Ç–∏–∑–∞—Ü–∏–∏
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')
lemmatizer = WordNetLemmatizer()

nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\anana\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\anana\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\anana\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [19]:


# To remove emails
email_regex = r'([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)'
regexes_to_remove = [email_regex, r'Subject:', r'Re:']

for i in range(0, len(X)):
    # removing all special charachter
    review = re.sub('[^a-zA-Z]', ' ', str(X['text'][i]))
    # make document as lowerCase
    review = review.lower()
    # splitting the documents into words for ex ['iam', 'omar']
    review = review.split()
    # make limmatization --> (change, changing, changes)---> (change)
    review = [lemmatizer.lemmatize(word) for word in review if not word in set(stopwords)]
    # join the document agian
    review = ' '.join(review)
    
    # removing mails
    for r in regexes_to_remove:
        X['text'][i] = re.sub(r, '', review)

# –†–∞–∑–¥–µ–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# –ò–∑–≤–ª–µ—á–µ–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

## TF-IDF

In [21]:
tfidf_vectorizer = TfidfVectorizer(max_features=10000)
tfidf_vectorizer_n12 = TfidfVectorizer(max_features=10000, ngram_range=(1,2))


X_tfidf_train = tfidf_vectorizer.fit_transform(X_train['text'])
X_tfidf_test = tfidf_vectorizer.transform(X_test['text'])

X_tfidf_train_n12= tfidf_vectorizer_n12.fit_transform(X_train['text'])
X_tfidf_test_n12=tfidf_vectorizer_n12.transform(X_test['text'])

## Bag-of-words

In [22]:
vectorizer = CountVectorizer()
  
X_bow_train = vectorizer.fit_transform(X_train['text'])
X_bow_test = vectorizer.transform(X_test['text'])

## VADER

In [23]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
def get_vador_scores(data):
    sid=SIA()
    vador_df=data.copy()
    vador_df['scores'] = vador_df['text'].apply(lambda txt: sid.polarity_scores(str(txt)))
    
    vador_df['neg_score'] = vador_df['scores'].apply(lambda txt: txt['neg'])
    vador_df['neu_score'] =vador_df['scores'].apply(lambda txt: txt['neu'])
    vador_df['pos_score'] = vador_df['scores'].apply(lambda txt: txt['pos'])
    vador_df['compound'] = vador_df['scores'].apply(lambda txt: txt['compound'])
    vador_df.drop('scores', axis=1, inplace=True)
    vador_df.drop('text', axis=1, inplace=True)
    return vador_df

In [24]:
X_vador_train = get_vador_scores(X_train)
X_vador_test= get_vador_scores(X_test)